@import "tailwindcss";

@source "./**/*.{js,jsx,ts,tsx,html}";

@theme {
  --animate-float: float 3s ease-in-out infinite;
  --animate-gradient: gradient 6s ease infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  .animate-float {
    animate: float 3s ease-in-out infinite;
  }
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
